header
    title login
if user
    h1 Welcome #{user.firstname} #{user.lastname}
else
    form(method="POST")
        input(type="text", name="username", placeholder="Login")
        input(type="password", name="password", placeholder="Password")
        button(type="submit") Connect